body {
    text-align: center;
    background: rgb(14, 14, 14);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
    height: 100vh;
    overflow: hidden;
    color: whitesmoke;
    padding: 20px 0 0 0;
}
.content-container{
    height: 100%;
}

a {
    color: black;
    margin: auto 10px;
}

a:hover,
a:link {
    text-decoration: none;
    color: rgb(83, 83, 83);
}

.nav {
    border-bottom: ridge 3px rgba(145, 145, 145, 0.5);
}

/* Random Activity Styles*/
.search {
    width: 50%;
    padding: 10px;
    color: black;
    border-radius: 10px;
    background-color: aliceblue;
}

/* Calculator Styles */

.calc {
    width: 300px;
    background: border-box linear-gradient(to top, rgb(109, 108, 108),80%, rgb(129, 129, 129));
    box-shadow: 2px 5px black;
    border-radius: 10px;
}

.calc-display {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(88, 61, 19);
    color: orange;
    font: bold 25px "Courier New";
    height: 50px;
    margin-bottom: 10px;
    border: inset rgb(88, 61, 19);
    border-radius: 5px;
    box-shadow: inset 0 0 25px rgb(179, 125, 38);
}

.calc-equal {
    grid-column: 3 / 5;
    font-size: 20px;
}

.calc-buttons {
    width: 100%;
    height: calc(100% - 110px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
}
.calc-btn{
    border-width: 3px;
    border-style: outset ;
}

.help-link {
    color: white;
}

/* ToDo List Styles */
.todo-app {
    height: 100vh;
    color: black;
    background-color: rgb(72, 117, 75, 0.75);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    box-shadow: inset 0 0 20px black;
}

.list {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(231, 225, 218);
    border-radius: 10px;
    box-shadow: 0px 5px 5px black;
}

ul {
    padding: 0 10px;
}

.list-item {
    display: flex;
    font-size: 20px;
    border-bottom: solid 2px rgb(226, 202, 172);
}

.list-btns {
    display: flex;
    margin-left: auto;
}

.list-btns>button {
    border: none;
    background: none;
}